<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<!-- mybatis的全局配置文件 -->
<configuration>
	<!-- <properties resource="jdbc.properties"/>
	<environments default="develop">
		<environment id="develop">
		配置事务管理方式
		type：jdbc,交给jdbc来管理
		/MANAGED自己管理事务
		<transactionManager type="jdbc">
		
		</transactionManager>
		 配置数据库连接池（数据源）
		pooled:使用连接池
		unpooled不使用
		jndi过时
		<dataSource type="POOLED">
			<property name="driver" value="${jdbc.driver}"/>
			<property name="url" value="${jdbc.url}"/>
			<property name="username" value="${jdbc.username}"/>
			<property name="password" value="${jdbc.password}"/>
			
		</dataSource>
		</environment>
	</environments>
	加载mapper配置文件，路径以/间隔
	<mappers>
		<mapper resource="mybatis/mapper/DoorMapper.xml"/>
	</mappers>
	整合后移动导spring核心配置文件中 -->
</configuration>